body {
    font-family: Arial, sans-serif;
    background-color: #cf2525;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

ol {
    background: white;
    padding: 40px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

